# SPDX-FileCopyrightText: 2025 Marbru35
# SPDX-FileContributor: Carlotta May
# SPDX-FileContributor: Marlon Spiess
#
# SPDX-License-Identifier: MIT

tensorflow==2.10
tf-keras
matplotlib
pandas
deepface